* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Courier, monospace;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;

}

.nav-bar {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;

}

.header-title h2 {
    font-weight: 700;
    font-size: 45px;
}

.head {
    background: rgba(217, 117, 3, 0.1);
}

.button {
    height: 45px;
    width: 180px;
    background: #FF900E;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;

}


.brand {
    margin-top: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand img {
    margin-top: 50px;
    width: 1000px;
    height: 600px;
    padding-bottom: 45px;
}

.brand p {
    text-align: center;
}

.brand h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

/* images section style */

.images {
    display: flex;
    gap: 73px;
    margin-top: 85px;
    align-items: center;
    margin-left: 180px;
    /* margin-bottom: 100px; */
    /* if horizomtal added by me its applied  */

}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;

}

.image-gallery img {
    width: 300px;
    height: 300px;
}

/* Festures section */

.features {
    display: flex;
    margin-left: 240px;
    margin-top: 130px;



}

.girl-image img {
    width: 500px;
    height: 700px;
    margin-top: 30px;


}

.love-enjoy .box {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-left: 25px;
    /* border: 0.5px solid black; */
    margin-top: 5px;

}

.love-enjoy {
    width: 500px;
    margin-right: 80px;
}

.box h4 {
    padding-top: 3px;
}

.box p {
    padding-right: 7px;
    padding-bottom: 7px;
}

/* button position on picturel */


.big-button {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background: #FF900E;
    transform: translate(-20%, -60%);
    border: none;

}

.big-button span {
    color: #FFFFFF;
    font-size: 17px;

}

/* verticle line style */

.vl {
    border-left: 4px solid orange;
    height: 50px;
    margin-top: 23px;
    padding-right: 10px;
}



.Some-facts {
    margin-left: 250px;

}

/* card and sponsor section */



.card-and-sponsors {
    text-align: center;
}

.every-card {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;

}

.each-card {
    border: 1.5px solid orange;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.each-card div {
    padding-top: 30px;
    text-align: center;

}

.Our-Sponspors {
    margin-top: 150px;
}

.Our-Sponspors h2 {
    font-size: 2.5em;
}

.sponsors-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 100px;

}

.footer {

    margin-top: 80px;

    /* border-radius: 20px;
   padding-top: 1px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center; */

}

@media screen and (max-width:688px) {


    .features {
        flex-direction: column;
    }

    .brand img {
        height: auto;
        width: 300px;
    }

    header {
        flex-direction: column-reverse;

    }

    .nav-bar {
        gap: 10px;
        font-size: 15px;
        padding-right: 25px;
    }

    .brand h1 {
        font-size: 30px;
    }

    .brand p {
        font-size: 10px;
    }

    .button {
        margin-top: 20px;
    }

    .image-gallery {

        grid-row-gap: 8px;
        grid-column-gap: 5px;


    }

    .image-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .images {
        flex-direction: column;
       margin-left: 0px;
       


    }

    .features {

        margin-left: 20px;
        margin-top: 130px;



    }

    .sponsors-img {
        flex-direction: column;
    }

    .girl-image img {
        width: 300px;
        height: 400px;
        padding-left: 20px;
    }

    .love-enjoy {
        width: 300px;
        margin-right: 80px;
        
    }
  

    .every-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .each-card {
        width: 180px;
        height: 180px;
    }

    .Some-facts {
        margin-left: auto;
        text-align: center;
    }


    .image-gallery img {
       
        width: 300px;
        height: 220px;
    }
    .head{
        width: 100%;
    }
    

.big-button {
    width: 150px;
    height: 80px;
    transform: translate(-10%, -60%);
   
   
}






}